// output:../../views/stage-builder.html
    
.row
  .col-xs-12
    .challenge-stages-container
      .challenge-stages-header.sticky.clearfix  
        stage-build-helper(helper-object-current-stage="$ctrl.helperObjectCurrentStage", helper-object-stages="$ctrl.helperObjectStages", help-open="$ctrl.helpOpen")
          
        buton.btn.btn-default(ng-show="!$ctrl.helpOpen", ng-click="$ctrl.helpOpen = !$ctrl.helpOpen") Open Help
        button.btn.btn-warning(ng-show="$ctrl.deletedStages.length > 0", ng-click="$ctrl.undoDelete()") Undo Remove {$ $ctrl.deletedStages[0].name $}
        //- Start stage add
        stage-builder-menu(on-add-stage="$ctrl.addStage(type, $index)", stage-types="$ctrl.stageTypes", stage-index="$index")
        span.pull-right
          button.btn.btn-success Validated #[i.fa.fa-check]
          button.btn.btn-default Next Step

      //- Start stage
      //- .challenge-stages-start(ng-click="$ctrl.inspectorTabActive = 1") #[i.fa.fa-trophy] Capture
      //- .challenge-stage-add-new
      //-   stage-builder-menu(on-add-stage="$ctrl.addStage(type, $index)", stage-types="$ctrl.stageTypes", stage-index="$index")

      //- Challenge list
      //- !alwaysTrue hack
      div(ng-if="!alwaysTrue")
        ul.list-unstyled.challenge-stage-list-container(ng-sortable="{animation: 350, draggable: '.sortable-item'}")
          li.challenge-stage-list-item(
            ng-repeat="stage in $ctrl.currentStages"
            ng-class="stage.type === 'Open' || stage.type === 'Close' ? stage.type : 'sortable-item'"
          )
            stage-detail(
              stage="stage"
              last="$last"
              on-delete="$ctrl.deleteStage(stage)"
              stage-types="$ctrl.stageTypes"
              inspector-tab="$ctrl.inspectorTabActive"
              add-stage="$ctrl.addStage(type, $index)"
              stage-index="$index"
            )
            //- .challenge-stage-add-new
            //-   stage-builder-menu(on-add-stage="$ctrl.addStage(type, $index)", stage-types="$ctrl.stageTypes", stage-index="$index")

      //- //- End stage
      //- .challenge-stages-end(ng-click="$ctrl.inspectorTabActive = 2")
      //-   | #[i.fa.fa-flag-checkered] Measure
  
