// output:../../views/stage-builder.html

.row
  .col-xs-12
    .challenge-stages-container
        
      //- span.pull-right
      //-   button.btn.btn-link #[fa.fa.fa-chevron-left] Previous
      //-   button.btn.btn-link Next #[fa.fa.fa-chevron-right]

      //- Challenge list
      //- !alwaysTrue hack
      div(ng-if="!alwaysTrue")
        //- Phased or Parallel
        .panel.panel-sm.panel-success.select-top.text-center
          //- form(name="parallelOrPhased")
          .panel-heading
            h4 Set Phased or Parallel
          .panel-body
            .form-group
              label.btn
                | #[input(type="radio", ng-model="$ctrl.challenge.type", value="phased")] Phased
                
              label.btn
                | #[input(type="radio", ng-model="$ctrl.challenge.type", value="parallel")] Parallel
            
              em.btn-block {$ $ctrl.challenge.type === 'phased' ? 'Ideas enter your challenge and progress through the stages togther' : 'Ideas enter your challenge and progress through the stages independent of other ideas' $}
          //- pre.text-left {$ $ctrl.challenge | json $}
              
        ul.list-unstyled.challenge-stage-list-container.clearfix(ng-sortable="$ctrl.sortableConf" draggable="false")
          li.challenge-stage-list-item.ng-anim-fade(
            ng-repeat="stage in $ctrl.challenge.stages track by stage.id"
            ng-class="!stage.editSettings.sortable ? 'fixed-item' : 'sortable-item'"
          )
            stage-detail(
              stage="stage"
              last="$last"
              first="$first"
              users="$ctrl.users"
              on-delete="$ctrl.deleteStage(stage)"
              stage-types="$ctrl.stageTypes"
              inspector-tab="$ctrl.inspectorTabActive"
              stage-index="$index"
            )
            .challenge-stage-add-new(ng-if="!stage.deleted && !$last")
              stage-builder-menu(
                on-add-stage="$ctrl.addStage(type, $index)", stage-types="$ctrl.stageTypes", stage-index="$index", num-stages="$ctrl.challenge.stages.length")
