// output:../../views/stage-detail.html
  
//- Individual Stages
article.challenge-stage.clearfix(ng-model="challengeStage" ng-class="[{'fixed': $ctrl.stage.fixed}, [$ctrl.stage.type]]")
  .timeline-bar
    .timeline-knuckle(ng-class="$ctrl.stage.type")
  .challenge-stage-detail-toolbar.text-center
    button(ng-if="$ctrl.stage.sortable")
      | #[i.fa.fa-arrows]
    button(ng-click="$ctrl.delete();", ng-if="!$ctrl.stage.fixed")
      | #[i.fa.fa-trash]
  
  .challenge-stage-inner.clearfix(ng-class="{'challenge-stage-auto-width': $ctrl.stage.deleted}")
    div.ng-hide(ng-show="$ctrl.stage.deleted")
      p Stage removed ({$ $ctrl.stage.name $}). Click #[button.btn.btn-link(ng-click="$ctrl.stage.deleted = false; $ctrl.stage.sortable = true", title="undo") 'here'] to undo
    
    div(ng-show="!$ctrl.stage.deleted")
      .grab-handle(ng-show="!$ctrl.stage.fixed")
        i.fa.fa-ellipsis-h
      form.row
        .col-sm-6
          .form-group
            .challenge-stage-title
              h2 #[input(ng-model="$ctrl.stage.name", type="text" placeholder="give your stage a name" required)]
              //- Type set
              .btn-group(uib-dropdown, ng-if="!$ctrl.stage.fixed")
                button.btn.btn-link(uib-dropdown-toggle, dropdown-append-to-body) {$ $ctrl.stage.type $}
                ul.dropdown-menu.list-group.stage-builder-menu
                  li.list-group-item(
                    ng-click="$ctrl.changeType(stage.name, type)"
                    ng-repeat="type in $ctrl.stageTypes track by $index"
                    ng-class="type"
                  ) #[span(ng-class="type")] {$ type $}

        .col-sm-6
          .form-group
            //- Set Visibility
            .btn-group(uib-dropdown)
              button.btn.btn-link(uib-dropdown-toggle) #[span.fa.fa-eye] Idea visibility: {$ $ctrl.stage.ideaVisibility $}
              ul.dropdown-menu.list-group
                li.list-group-item(
                  ng-show="!$ctrl.stage.ideaVisibility"
                  ng-click="$ctrl.stage.ideaVisibility = true"
                  ng-class="type"
                ) #[span(ng-class="type")] Visible
                li.list-group-item(
                  ng-show="$ctrl.stage.ideaVisibility"
                  ng-click="$ctrl.stage.ideaVisibility = false"
                  ng-class="type"
                ) #[span(ng-class="type")] Hidden
            button.btn.btn-link Progression: {$ $ctrl.stage.progression.type $}

      .row    
        .col-xs-12
          div(uib-tabset)
            div(uib-tab, heading="Stage Settings")
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste enim dolorem aliquam a, nostrum iusto quidem odio alias maxime nam ullam, voluptate dignissimos vero commodi doloremque nesciunt magnam, reiciendis facilis.
              .row
                .anim-dropdown.clearfix(ng-class="{'anim-dropdown-show': $ctrl.showMore}")
                  .form-group
                    p Progress when reach #[input(type="number", min="1", required, ng-model="$ctrl.progress.votes", placeholder="votes")]
                    p Progress when reach #[input(type="number", min="1", required, ng-model="$ctrl.progress.views", placeholder="views")]
                    p Progress when reach #[input(type="number", min="1", required, ng-model="$ctrl.progress.days", placeholder="days")]   
                .show-more-link
                  button.btn.btn-link(ng-click="$ctrl.showMore = !$ctrl.showMore")
                    | {$ $ctrl.showMore ? 'Show Less' : 'Customise' $} #[span.fa(ng-class="$ctrl.showMore ? 'fa-chevron-up' : 'fa-chevron-down'")]
            div(uib-tab, heading="Progression Settings")
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste enim dolorem aliquam a, nostrum iusto quidem odio alias maxime nam ullam, voluptate dignissimos vero commodi doloremque nesciunt magnam, reiciendis facilis.
              .form-group
                span Ideas are
                select(required, ng-model="$ctrl.progress.visible")
                  option(value="visible") Visible
                  option(value="hidden") Hidden
              .form-group
                p Progress when reach #[input(type="number", min="1", required, ng-model="$ctrl.progress.votes", placeholder="votes")]
                p Progress when reach #[input(type="number", min="1", required, ng-model="$ctrl.progress.views", placeholder="views")]
                p Progress when reach #[input(type="number", min="1", required, ng-model="$ctrl.progress.days", placeholder="days")]
