// output:../../views/stage-builder-helper.html
.challenge-stage-helper.anim-dropdown(ng-class="{'anim-dropdown-show': $ctrl.helpOpen}")
  .row
    .col-xs-12
      article.article-viewer(ng-switch="$ctrl.currentArticle")
        .article-viewer-menu(ng-show="$ctrl.showContents")
          ul
            li(ng-repeat="page in $ctrl.helpObject.documents.pages")
              h4 {$ page.name $}
              ol
                li(
                  ng-repeat="article in page.articles", 
                  ng-click="$ctrl.currentArticle = article", 
                  ng-class="{'active': $ctrl.currentArticle === article}"
                ) {$ article.name $}
                
        .article-viewer-collapse(
          ng-class="{'collapsed': $ctrl.showContents}"
          ng-click="$ctrl.showContents = !$ctrl.showContents")
                
        .article-viewer-body        
          h4 {$ $ctrl.currentArticle.name $}
          p {$ $ctrl.currentArticle.content $}
        
            
        
        
    //- div(ng-switch-default)
    //-   h3 Default Stage
    //-   p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumdoloribus quis totam architecto sint id. Sit.
    //- div(ng-switch-when="bootstrapChallenge")
    //-   h3 {$ $ctrl.helperObjectCurrentStage $}
    //-   p We've started you off with a basic stage setup with manual progression. The first stage is always your open stage where you can begin to collect ideas. The last stage is where we end the challenge and measure the outcome.
    //- div(ng-switch-when="createStage")
    //-   h3 {$ $ctrl.helperObjectCurrentStage $}
    //-   p We've started you off with a basic stage setup with manual progression. The first stage is always your open stage where you can begin to collect ideas. The last stage is where we end the challenge and measure the outcome.
    //-   p This is all you need in order to create a challenge. Would you like to know more about setting up your challenge?
    //- div(ng-switch-when="removeStage")
    //-   h3 {$ $ctrl.helperObjectCurrentStage $}
    //-   p We've started you off with a basic stage setup with manual progression. The first stage is always your open stage where you can begin to collect ideas. The last stage is where we end the challenge and measure the outcome.
    //-   p This is all you need in order to create a challenge. Would you like to know more about setting up your challenge?
    //- div(ng-switch-when="editStage")
    //-   h3 {$ $ctrl.helperObjectCurrentStage $}
    //-   p We've started you off with a basic stage setup with manual progression. The first stage is always your open stage where you can begin to collect ideas. The last stage is where we end the challenge and measure the outcome.
    //-   p This is all you need in order to create a challenge. Would you like to know more about setting up your challenge?
    //- div(ng-switch-when="editTransition")
    //-   h3 {$ $ctrl.helperObjectCurrentStage $}
    //-   p We've started you off with a basic stage setup with manual progression. The first stage is always your open stage where you can begin to collect ideas. The last stage is where we end the challenge and measure the outcome.
    //-   p This is all you need in order to create a challenge. Would you like to know more about setting up your challenge?
    //- div.btn-wrapper
    //-   button.btn.btn-default(ng-click="$ctrl.helperObjectProgress") Click here to continue
    //-   button.btn.btn-cancel(ng-click="$ctrl.helperObjectProgress") Close help object
    //- button(ng-click="$ctrl.nextHelp()") Click me
    //- p {$ $ctrl.helperObjectStages.length $}
    //- ul(
    //-   uib-pager,
    //-   total-items="$ctrl.helperObjectStages",
    //-   ng-model="$ctrl.helperObjectCurrentStage"
    //-   )
