// output:../../views/stage-builder.html

pre {$ $ctrl | json $}
.row
  .col-xs-12
    .challenge-stages-container
      //- Indicator line
      //- .challenge-stages-line

      //- Start stage
      .challenge-stages-start(ng-model="startStage", ng-click="$ctrl.inspectorTabActive = 1") #[i.fa.fa-trophy] {$ startStageName ? startStageName : 'Capture' $}
      .text-center
        //- Transition stage
        .challenge-transition-stage.text-center.sortable-ignored
          |  Manually Closes

      //- Start stage add
      stage-builder-menu(on-add-stage="$ctrl.addStage(type, $index)", stage-types="$ctrl.stageTypes", stage-index="$index")

      //- Challenge list
      ul.list-unstyled#stageList(ng-sortable="{animation: 150}")
        li.challenge-stage-list-item(ng-repeat="stage in $ctrl.currentStages")
          stage-detail(
            stage="stage"
            last="$last"
            on-delete="$ctrl.deleteStage(stage)"
            stage-types="$ctrl.stageTypes"
            select-stage="$ctrl.selectedStage(stage)"
            selected-stage="$ctrl.selected"
            inspector-tab="$ctrl.inspectorTabActive"
            ng-class="{'selected': $ctrl.selectedStage === stage}"
          )
          stage-builder-menu(on-add-stage="$ctrl.addStage(type, $index)", stage-types="$ctrl.stageTypes", stage-index="$index")

      //- End stage
      .challenge-stages-end(ng-model="endStage", ng-click="$ctrl.inspectorTabActive = 2")
        | #[i.fa.fa-flag-checkered] {$ endStageName ? endStageName : 'Finish' $}
  
    //- Stage inspector
    //- sticky,
    //- offset="10",
    .challenge-stage-helper
      stage-build-helper(helper-object-current-stage="$ctrl.helperObjectCurrentStage", helper-object-stages="$ctrl.helperObjectStages")
    .challenge-stages-inspector.sticky
      .challenge-stages-inspector-inner
        uib-tabset(active="$ctrl.inspectorTabActive", ng-show="$ctrl.selected")
          //- uib-tab(heading="Settings", index="0")
          //-   h3 Global Challenge Settings
          //-   pre {$ $ctrl.currentStages | json $}
          //-   .checkbox
          //-     label #[input(type="checkbox")] Option 1
          //-   .checkbox
          //-     label #[input(type="checkbox")] Option 2
          //-   .checkbox
          //-     label #[input(type="checkbox")] Option 3
          //-   .checkbox
          //-     label #[input(type="checkbox")] Option 4
          //-     
          //- uib-tab(index="1", heading="Capture")
          //-   h3 Capture
          //-   p Various settings pertaining to your open stage
          //-   
          //-   img.img-responsive(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/318382/Screen_Shot_2016-08-08_at_11.30.55.png", alt="picker")
          //- 
          //- uib-tab(index="2", heading="Finish")
          //-   h3 Finish
          //-   p Various settings pertaining to your finish stage
          //-   
          //-   .checkbox
          //-     label #[input(type="checkbox")] Option 1
          //-   .checkbox
          //-     label #[input(type="checkbox")] Option 2
          //-   .checkbox
          //-     label #[input(type="checkbox")] Option 3
          //-   .checkbox
          //-     label #[input(type="checkbox")] Option 4

          uib-tab(heading="{$ $ctrl.selected.name ? $ctrl.selected.name : 'New Stage' $}", ng-show="$ctrl.selected", index="0")
            h3 Stage Settings
            
            form(name="stage-settings")
            
              //- Stage name
              .form-group
                input.form-control(type="text", ng-model="$ctrl.selected.name", required)
              
              //- Type select
              .form-group
                select.form-control(ng-model="$ctrl.selected.type", ng-class="$ctrl.stage.type", required)
                  option(disabled, selected, value) -- Select Stage Type --
                  option(ng-repeat="type in $ctrl.stageTypes track by $index", value="{$ type $}") {$ type $}
                                    
              stage-builder-options(type="$ctrl.selected.type")
              
          uib-tab(heading="Progression", index="1")
            h3 Progression Settings
            
            //- Timing
            .form-group
              select.form-control(ng-model="$ctrl.selected.progression", required)
                option(disabled, selected, value) -- Select Stage Type --
                option(ng-repeat="type in $ctrl.progressionTypes track by $index", value="{$ type $}") {$ type $}
          
          uib-tab.pull-right(heading="Advanced", index="2")
            h3 Progression Settings
            
            //- Timing
            .form-group
              select.form-control(ng-model="$ctrl.selected.progression", required)
                option(disabled, selected, value) -- Select Stage Type --
                option(ng-repeat="type in $ctrl.progressionTypes track by $index", value="{$ type $}") {$ type $}
                
            stage-progression-options(type="$ctrl.selected.progression")

            //- pre {$ $ctrl | json : spacing $}
