// output:../../views/stage-builder-helper.html
.challenge-stage-helper.anim-dropdown(ng-class="{'anim-dropdown-show': $ctrl.helpOpen}")
  .row
    .col-xs-12
      article.article-viewer(ng-switch="$ctrl.currentArticle")
        .article-viewer-menu(ng-show="$ctrl.showContents")
          ul
            li(ng-repeat="page in $ctrl.helpObject.documents.pages")
              h4 {$ page.name $}
              ol
                li(
                  ng-repeat="article in page.articles", 
                  ng-click="$ctrl.currentArticle = article", 
                  ng-class="{'active': $ctrl.currentArticle === article}"
                ) {$ article.name $}
                
        .article-viewer-collapse(
          ng-class="{'collapsed': $ctrl.showContents}"
          ng-click="$ctrl.showContents = !$ctrl.showContents")
                
        .article-viewer-body
          .article-viewer-body-inner
            h4 {$ $ctrl.currentArticle.name ? $ctrl.currentArticle.name : 'Help' $}
            p {$ $ctrl.currentArticle.content ? $ctrl.currentArticle.content : 'Select a help article on the left to learn more.' $}
